In [1]:
import pandas as pd

df = pd.read_json('data/sales_search.json')
df.head()

,location,daterange,SalesTrend,vintage
0,{'geoID': 'ZI94619'},"{'start': 'February 2016', 'end': 'February 20...","{'homesalecount': 16, 'avgsaleprice': 679944.0...",{'pubDate': '2021-11-27'}
1,{'geoID': 'ZI94619'},"{'start': 'March 2016', 'end': 'March 2016', '...","{'homesalecount': 29, 'avgsaleprice': 638931.0...",{'pubDate': '2021-11-27'}
2,{'geoID': 'ZI94619'},"{'start': 'April 2016', 'end': 'April 2016', '...","{'homesalecount': 37, 'avgsaleprice': 582743.0...",{'pubDate': '2021-11-27'}
3,{'geoID': 'ZI94619'},"{'start': 'May 2016', 'end': 'May 2016', 'inte...","{'homesalecount': 39, 'avgsaleprice': 675054.0...",{'pubDate': '2021-11-27'}
4,{'geoID': 'ZI94619'},"{'start': 'July 2016', 'end': 'July 2016', 'in...","{'homesalecount': 35, 'avgsaleprice': 658134.0...",{'pubDate': '2021-11-27'}